<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/nav_template}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <title>Editar Tipo Proveedor</title>
    <style>
        label{
            float: right;
        }
        div .row{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <div class="contenido-clientes">
            <div class="row">
                <div class="col-10">
                    <form th:action="@{'/sistema/validar-edicion-tipo-proveedor/'+ ${tipo_proveedor.id_tipo_proveedor}}" method="post">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Descripcion</label>
                            </div>
                            <div class="col-4 align-items-end">
                                <input class="form-control" type="text" th:field="${tipo_proveedor.descripcion}" name="tipo_proveedor_descripcion" id="tipo_proveedor_descripcion" th:value="${tipo_proveedor.descripcion}" required>
                            </div>
                        </div>
                        <input type="hidden" th:value="${tipo_proveedor.id_tipo_proveedor}" name="txtid_tipo_proveedor">
                        <div class="row">
                            <div class="col-5">
                                <button class="btn btn-success" >Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>