<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/nav_template}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>
<body>
  
  <div class="container-fluid" layout:fragment="contenido">
    <div>User: <span sec:authentication="principal.username"></span></div>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem; margin: 10px; text-align:center;">
          <div class="card-body">
            <h5 class="card-title">Numero Envios</h5>
            <h1 class="card-text">6</h1>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem; margin: 10px; text-align:center;">
          <div class="card-body">
            <h5 class="card-title">Numero Envios</h5>
            <h1 class="card-text">6</h1>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem; margin: 10px; text-align:center;">
          <div class="card-body">
            <h5 class="card-title">Numero Envios</h5>
            <h1 class="card-text">6</h1>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <h4 th:text="${usuario_logeado.getUsuario()}"></h4> -->
  </div>

  <th:block layout:fragment="script">

  </th:block>
</body>
  
</html>