<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Inicio</title>
    <style type="text/css">
      .btn-modificaciones{
          background-color: rgba(255, 214, 29, 0.418);
          border: 0.6px solid gray;
          transition-duration: 0.4s;
      }
      .btn-modificaciones:hover{
          background-color: rgba(223, 190, 43, 0.651);
      }
      span{
        color: #ffffff;
      }
    </style>
</head>
<body>

        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <div class="logo_name">MIRANDA</div>
                </div>
                <i class='bx bx-menu' id="btn-menu"></i>
            </div>
            <ul class="nav_list">
                <li>
                    <a th:href="@{'/sistema/inicio'}">
                      <i class='bx bxs-user-circle' ></i>
                        <span class="links_name">Perfil</span>
                    </a>
                    <span class="tooltip">Perfil</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-tipo-cliente'}">
                        <i class='bx bxs-report'></i>
                        <span class="links_name">Tipo Cliente</span>
                    </a>
                    <span class="tooltip">Tipo Cliente</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-cargos'}">
                        <i class='bx bxs-report'></i>
                        <span class="links_name">Cargos</span>
                    </a>
                    <span class="tooltip">Cargos</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-empleados'}">
                        <i class='bx bxs-report'></i>
                        <span class="links_name">Empleados</span>
                    </a>
                    <span class="tooltip">Empleados</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-clientes'}">
                        <i class='bx bxs-report'></i>
                        <span class="links_name">Clientes</span>
                    </a>
                    <span class="tooltip">Clientes</span>
                </li>
                <li>
                  <a th:href="@{'/sistema/lista-proveedores'}">
                      <i class='bx bxs-report'></i>
                      <span class="links_name">Proveedores</span>
                  </a>
                  <span class="tooltip">Proveedores</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-tipo-proveedor'}">
                        <i class='bx bxs-report'></i>
                        <span class="links_name">Tipo Proveedor</span>
                    </a>
                    <span class="tooltip">Tipo Proveedor</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-almacen'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Almacenes</span>
                    </a>
                    <span class="tooltip">Almacen</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-conductor'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Conductores</span>
                    </a>
                    <span class="tooltip">Conductores</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-vehiculo'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Vehiculos</span>
                    </a>
                    <span class="tooltip">Vehiculos</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-unidad'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Unidad</span>
                    </a>
                    <span class="tooltip">Unidad</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-categoria'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Categoria Producto</span>
                    </a>
                    <span class="tooltip">Categoria Producto</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-producto'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Producto</span>
                    </a>
                    <span class="tooltip">Producto</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/lista-ruta'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Ruta</span>
                    </a>
                    <span class="tooltip">Ruta</span>
                </li>
                <li>
                    <a th:href="@{'/sistema/registrar-envio'}">
                      <i class='bx bxs-report' ></i>
                        <span class="links_name">Envio</span>
                    </a>
                    <span class="tooltip">Envio</span>
                </li>
            </ul>
        </div>
        <div class="home_content">
            <nav class="navbar navcustom">
                <div class="container-fluid" style="justify-content:end;">
                    <div class="col-12 col-sm-2 col-lg-1" style="text-align:center;">
                        <ul class="dropdown navbar-nav" onclick="dropDown()">
                            <button class="dropbtn">
                                <!-- <a class="nav-link dropdown-toggle aOnline" href="#" id="navbarDropdownMenuLink">
                                    Renzo Vasquez
                                </a> -->
                                RENZO
                            </button>
                            <div class="dropdown-menu" id="myDropdown">
                                <li>
                                      <a th:href="@{/logout}" class="dropdown-item">Cerrar Sesion</a>
                                  </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                    th:text="${mensaje}"
                    class="alert">
                </div>
                <div class="container-fluid" layout:fragment="contenido"></div>
            </div>
            
        </div>
        
    <script type="text/javascript">
        let btn = document.querySelector('#btn-menu');
        let sidebar = document.querySelector('.sidebar');
        btn.onclick = function(){
            sidebar.classList.toggle('active');
        }

        function dropDown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
          
          // Close the dropdown if the user clicks outside of it
          window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
              if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
              }
            }
          }
    </script>

    <th:block layout:fragment="script">

    </th:block>
</body>
  
</html>