<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/nav_template}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <title>Nuevo Producto</title>
    <style>
        label{
            float: right;
        }
        div .row{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <div class="contenido-clientes">
            <div class="row">
                <div class="col-10">
                    <form th:action="@{'/sistema/agregar-producto'}" method="post">
                        <div class="row">
                            <div class="col-3">
                                <label for="">Codigo</label>
                            </div>
                            <div class="col-4 align-items-end">
                                <input class="form-control" type="text" th:field="${producto.codigo}" name="producto_codigo" id="producto_codigo" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="">Nombre</label>
                            </div>
                            <div class="col-4 align-items-end">
                                <input class="form-control" type="text" th:field="${producto.nombre}" name="producto_nombre" id="producto_nombre" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="">Descripcion</label>
                            </div>
                            <div class="col-4 align-items-end">
                                <input class="form-control" type="text" th:field="${producto.descripcion}" name="producto_descripcion" id="producto_descripcion" value="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="">Categoria</label>
                            </div>
                            <div class="col-4 align-items-end">
                                <select class="form-control" th:field="${producto.categoriaId}" name="producto_categoria" id="producto_categoria">
                                    <option th:each="cat : ${categoria}" th:text="${cat.nombre}" th:value="${cat.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <button class="btn btn-success" >Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>