<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/nav_template}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <title>Lista de Clientes</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
      <div class="contenido-clientes">
        <div class="row">
          <div class="col-5">
              <a class="btn btn-success" th:href="@{/sistema/ver-agregar-cliente}">NUEVO CLIENTE</a>
          </div>
        </div>
        <div class="contenido-buscar">
          <div>
            <h2>Datos para consulta</h2>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-5">
                  <h5>Razon Social</h5>
                </div>
                <div class="col-7">
                  <input class="form-control" type="text" name="razon_social" id="razon_social" value="">
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>Nro. RUC</h5>
                </div>
                <div class="col-4">
                  <input class="form-control" type="text" name="razon_social" id="razon_social" value="">
                </div>
                <div class="col-4">
                  <div>
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label">
                      Todos
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <div>
                    <input class="form-check-input" type="checkbox" name="" id="">
                    <label class="form-check-label">
                      Remitentes
                    </label>
                  </div>
                  <div>
                    <input class="form-check-input" type="checkbox" name="" id="">
                    <label class="form-check-label">
                      Destinatarios
                    </label>
                  </div>
                  <div>
                    <input class="form-check-input" type="checkbox" name="" id="">
                    <label class="form-check-label">
                      Clientes
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <input class="btn btn-info" type="button" name="" value="BUSCAR">
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Orden</th>
              <th scope="col">Nombres</th>
              <th scope="col">Telefono</th>
              <th scope="col">Correo</th>
              <th scope="col">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cli: ${cliente}">
              <td th:text="${cli.id}"></td>
              <td th:text="${cli.getPersonaId().getApellidos()+' '+cli.getPersonaId().getNombres()}"></td>
              <td th:text="${cli.getPersonaId().getTelefono()}"></td>
              <td th:text="${cli.getPersonaId().getCorreo()}"></td>
              <td th:text="${cli.descripcion}"></td>
            </tr>
          </tbody>
        </table>
      </div>
        
    </div>
</body>
</html>