<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/nav_template}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/inicio.css}">
    <title>Lista de Facturas</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
      <div class="contenido-clientes">
        <div class="row">
            <div class="col-5">
                <a class="btn btn-success" th:href="@{/sistema/ver-agregar-factura}">NUEVA FACTURA</a>
            </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Orden</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Id Envio</th>
              <th scope="col">Empleado</th>
              <th scope="col">Opcion</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="fact: ${facturas}">
              <td th:text="${fact.id}"></td>
              <td th:text="${fact.observaciones}"></td>
              <td th:text="${fact.descripcion}"></td>
              <td th:text="${fact.getEnvioId().getId()}"></td>
              <td th:text="${fact.getEmpleadoId().getApellidos() +' '+fact.getEmpleadoId().getNombres()}"></td>
              <td><i class='bx bxs-edit bx-xs'></i><i class='bx bxs-trash bx-xs'></i></td>
            </tr>
          </tbody>
        </table>
      </div>
        
    </div>
</body>
</html>